.map_wrapper {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

.map {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
}

.leaflet-routing-container {
  display: none;
}